@tailwind base;
@tailwind components;
@tailwind utilities;

.drop_shadow_default {
  background: #ecf0f3;
  box-shadow: 4px 4px 8px #d1d9e6, -4px -4px 8px #ffffff;
}

.inner_shadow_default {
  background: #ecf0f3;
  box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #ffffff;
}

.circular_default {
  background: #ecf0f3;
  border-radius: 50%;
  box-shadow: inset 4px 4px 8px #d1d9e6, inset -4px -4px 8px #ffffff;
}
